body {margin:0;}

*{   box-sizing: border-box;}


header {
	display: inline;
	padding: 0px;
	background-color: black;
	/*background-image: url("imForSite/headerBack.jpg");*/
}


header img {
	width: 20%;
	margin: auto;
	display: block;
}


canvas { 
	display: block; 
	width: 100%;
	height: 250px;
}
	
	
#content { 
	margin-bottom:-5px;
	min-width: 250px; 
	margin-right:0px;
	/*overflow: auto;*/
}


#trailer .modal-dialog {
    margin-top: 200px;
    width: 640px;
    height: 480px;
}


.hanging-close {
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 9001;
}


#trailer-video {
    width: 100%;
    height: 100%;
}


ul.topnav {
	position: relative;
	/*z-index:1;*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 8px 0 rgba(0, 0, 0, 0.19);*/
}


ul.topnav li {
	position: relative;
	float: left;	
}


#myTopnav li.languages {
	float: right;
}


ul.topnav li a {
	position: relative;
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}


ul.topnav li a:link {
	color:white;
} 


ul.topnav li:not(:last-child) a:hover, ul.topnav li:not(:last-child) li a:active {
	z-index:3;
	background-color: #e6e6e6;
	color: black;
}


ul.topnav li.icon {display: none;}

header #myTopnav li.icon img {
	margin: 0;
	width:25px;
}


#myTopnav .active {
	background-color: #009933;
	color: white;
}

/*---------------------------------media query--------------------*/

@media screen and (max-width:680px) {
  ul.topnav li{display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
	z-index:3;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
	color: yellow;
	z-index:5;
    right: 0;
    top: 0;
  }
  
  
  ul.topnav.responsive li {
    float: none;
    display: inline;	
  }
  
  
  ul.topnav.responsive li a {
		display: block;
		text-align: center;
	}
  
  
	canvas {
		height: 100px;
	}
  
  
	#content {
		min-width: 100px;
	}
	
	#myTopnav li.languages{
		float: none;
	}
	
	
	a.goUpButton{right: 3%;}
	
	
	.main #gallerySelection{display: none; position:fixed;}
	
	
	.main #mobileSelection{display: block;}
	
	
	.main #menuMobile{list-style-type: none;}
	
	
	footer .col-sm-4 #qoo-counter{ display: none; 	 position:fixed;}
	 
	 
	footer .row ul .media  {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px;
		padding:5px 10px 5px 10px;  
	}	
}

/*--------------------------------main section-------------------------------*/

.main {
	background: #ffffff;
	padding: 8% 12% 6% 12%;
}


#Menu {
	display: flex;
    justify-content: center;
    align-items: center;
	margin: auto;
	width: 40%;
	padding-left: 0px;
	padding-bottom: 15px;
}


#Menu li {
	display:block;
	padding: 0px 10px 0px 10px;	
	/*-webkit-transition: width 2s; /* Safari */
    /*transition: height 2s;*/
    /*transition-delay: 1s;*/
}


/*#leftMenu li:hover{
	height: 200px;
	 background: #00cc88;
}*/


#Menu li:nth-child(2), #Menu li:nth-child(4) {
	border-right: 2px solid #00b377;
	border-left: 2px solid #00b377;
}


#leftMenuItem a {
	color: #009933;
	font-size: 1.2em;
	text-decoration: none;
	border-bottom: 2px solid rgba(192, 192, 192, 0);
	-webkit-transition: border 500ms ease;
	-moz-transition: border 500ms ease;
	-ms-transition: border 500ms ease;
	-o-transition: border 500ms ease;
	transition: border 500ms ease;
}


#leftMenuItem .active {
	color: #262626;
}


#leftMenuItem a:hover {
	border-bottom: 2px solid rgba(192, 192, 192, 1);
}

/*--------------mobile selection--------------*/
#mobileSelection {
	display: none;
}


#menuMobile {
	display: flex;
    justify-content: center;
    align-items: center;
	margin: auto;
	padding-left: 0px;
}


#mobileSelectionItem {
	display:block;
	padding: 0px 10px 0px 10px;
	border: 0px;
}


#menuMobile img {
	width: 42px;
}

/*--------------mobile selection--------------*/
.main .goUpButton :nth-child(1) {
	padding-top:10%;
	margin-bottom: -8px;
}


a.goUpButton {
	display: none;
	width:60px;
	height: 60px;
	color: white;
	position:fixed;
	margin:auto;
	right: 4%;
	bottom: 90px;
	z-index: 20;
	background: #000000; 
	box-shadow: 0 6px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.25);
	-moz-border-radius: 30px;
	border-radius: 30px;	
}


a:hover.goUpButton {
	background:#009933;
	color: white;
}


#mainContainer {
	padding: 0px;
}


#portfolio {
	padding: 35px 0px 35px 0px;
}


.rowName {
	padding-bottom: 15px;
}


#portfolio  .row.picture, .row.animation {
	padding-bottom: 35px;
}


#lineObject .thumbnail {
	width: 100%;
	/*height:auto;
	max-height: 225px;*/
	padding: 5px;
}


.thumbnail:hover, .animation-item:hover {
	opacity: 0.6;
}


#paginationRow {
	display:block;
	text-align:center;
	padding: 25px 0px 0px 0px;
}


.animation-item {  width: 100%; background-color: #000000;  }

/*-----------------------footer--------------------*/

footer {
  font-size: 12px;
  width:100%;
  background-color: #000000;
  color: #ffffff;
  display: block;
}

footer .row {
	padding: 5px 5px 10px 5px;
}


.social {
	text-decoration: none;
	display: flex;
	justify-content: center;
    align-items: center;
	margin: 5px 0px;
	padding-left: 0px;
}


footer .col-sm-4 {
	display: block;
	/*padding: 15px;*/
	vertical-align: middle;
}


footer .row ul .media {
	list-style: none;
	text-align: center;
	margin: 0px;
  /*margin: auto;*/
	padding: 10px 10px 10px 15px;
 }

 
footer .row div:nth-child(2) {
	border-right: 1px solid #333333;
	border-left: 1px solid #333333;
}


footer li img {
	padding: 0px 5px;
	height: 18px; 
}
